html {
  font-family: Roboto, sans-serif;
}

.masthead {
  background-color: #3F51B5;
}

header a {
  color: #fff;
  text-decoration: none;
}

ul a {
  border-bottom: 1px solid #5C6BC0;
}

header a:hover {
  color: #FF80AB;
}

.nav {
  display: none;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-label {
  cursor: pointer;
}
