html {
  font-family: Roboto, sans-serif;
}

body {
  min-width: 320px;
}

/* ------------- =Masthead -------------- */

.masthead {
  background-color: #E91E63;
}

header a {
  color: #fff;
  text-decoration: none;
}

nav ul {
  padding-bottom: 2.6rem;
}

nav li {
  border-bottom: 1px solid #F06292;
}

header a:hover {
  transition: 200ms ease-out;

  color: #FF80AB;
}

.nav {
  display: none;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-label {
  display: inline-block;
  height: 52px;
  left: 0;
  position: absolute;
  top: 0;
  width: 52px;

  background: url("../images/icons/nav-icon.svg") 0 0 / 52px auto;
  cursor: pointer;
}

.nav-check:hover ~ .nav-label {
  background-position: 0 -52px;
}

.nav-check:checked ~ .nav-label {
  background-position: 0 -104px;
}

.nav-check:checked ~ .nav-label {
  background-position: 0 -104px;
}

.nav-check:checked:hover ~ .nav-label {
  background-position: 0 -156px;
}

/* ------------- =Banner -------------- */

.banner-content {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}


@media only screen and (min-width: 46em) {

  .nav {
    display: block;
  }

  .nav-label, .nav-check {
    display: none;
    background: none;
  }

  nav ul {
    display: inline-block;
    padding-bottom: 0;
  }

  nav li {
    display: inline-block;

    border: none;
  }

}

/* ------------- =Banner -------------- */

.banner {
  height: calc(100vh - 120px);
  max-height: 640px;
  min-height: 420px;
}

.banner-content-wrapper {
  height: 40%;
}

.banner-img {
  height: 60%;
  background: url("../images/photos/banner-img.jpg") center top / cover no-repeat;
}

figure {
  height: 60%;
}

@media only screen and (min-width: 46em) {

  .banner {
    max-height: 960px;
    min-height: 500px;
  }

}

@media only screen and (min-width: 68em) {

  .banner-content-wrapper {
    height: 30%;
  }

  .banner-img {
    height: 70%;
  }

}

@media only screen and (min-width: 90em) {

  .banner {
    height: calc(100vh - 240px);
  }
