html {
  font-family: Roboto, sans-serif;
}

body {
  min-width: 320px;
}

.btn-candy {
  padding: 0;

  background-color: transparent;
  border-radius: 0;
  border: none;

  color: #F06292;
  line-height: 1;
}

.btn-candy:hover {
  background-color: transparent;
  color: #F06292;
  border-bottom: 1px solid #F06292;
}

/* ------------- =Masthead -------------- */

.masthead {
  background-color: #E91E63;
}

header a {
  color: #fff;
  cursor: pointer;
}

nav li {
  border-bottom: 1px solid #F06292;
}

header a:hover {
  transition: 200ms ease-out;

  color: #F48FB1;
}

.nav {
  display: none;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-label {
  height: 52px;
  width: 52px;

  background: url("../images/icons/nav-icon.svg") 0 0 / 52px auto;
}

.nav-check:hover ~ .nav-label {
  background-position: 0 -52px;
}

.nav-check:checked ~ .nav-label {
  background-position: 0 -104px;
}

.nav-check:checked ~ .nav-label {
  background-position: 0 -104px;
}

.nav-check:checked:hover ~ .nav-label {
  background-position: 0 -156px;
}

@media only screen and (min-width: 46em) {

  .nav {
    display: inline-block;
  }

  .logo-wrapper {
    text-align: left;
  }

  .nav-wrapper {
    text-align: right;
  }

  .nav-label, .nav-check {
    display: none;
    background: none;
  }

  nav li {
    display: inline-block;

    border: none;
  }

}

/* ------------- =Banner -------------- */

.banner {
  height: calc(100vh - 80px);
  max-height: 640px;
  min-height: 420px;

  color: #3F51B5;
}

.banner-content-wrapper {
  height: 40%;
}

.banner-img {
  height: 60%;
  background: url("../images/photos/banner-img.jpg") center top / auto 100% no-repeat;
}

}

@media only screen and (min-width: 46em) {

  .banner {
    max-height: 960px;
    min-height: 500px;
  }

}

@media only screen and (min-width: 68em) {

  .banner {
    height: calc(100vh - 76px);
    max-height: 80vh;
    min-height: 540px;
  }

  .banner-content-wrapper {
    height: 30%;
  }

  .banner-img {
    height: 70%;
  }

}

/* ------------- =Link Cards -------------- */

.card {
  background-color: #f2f2f2;
  border-top: 2px solid #fff;
}

@media only screen and (min-width: 46em) {

  .card-border-s {
    border-right: 2px solid #fff;
  }

}

@media only screen and (min-width: 25em) {

  .card-border-l {
    border-right: 2px solid #fff;
  }

}
